# Ignore Test directory
Test/**
# Mac
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
~$*
# Ignore miniconda3 directory (where tools are installed)
miniconda3/

# Ignore test case1 directory (local testing)
Test/Case1/

# Ignore out and error files
*out
*error
*.tar.gz

# ignore genome deployements
*/Genomes/*

# excord
*excord*
