# Ignore Test directory
Test/**
# Mac
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
~$*
# Ignore opt directory (where tools are installed)
opt/


# Ignore test case1 directory (local testing)
Test/Case1/

# Ignore out and error files
*out
*error

# Ignore miniconda deployments
*/miniconda3/*

# ignore genome deployements
*/Genomes/*

# excord
*excord*
